{
  "rules": {
    "indent": [
      2,
      2,
      {"SwitchCase": 1}  
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "no-console": [
      0
    ],
    "no-multiple-empty-lines": [
      2,
      {
        "max": 2
      }
    ],
    "spaced-comment": [
      2,
      "always",
      {
        "exceptions": [
          "-",
          "+"
        ]
      }
    ],
    "space-infix-ops": [
      2,
      {
        "int32Hint": false
      }
    ],
    "keyword-spacing": [
      "error", {
        "overrides": {
          "if": {"after": true},
          "for": {"after": true},
          "while": {"after": true}
        }
      }
    ],
    "no-inline-comments": 2,
    "space-before-blocks": 2
  },
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8 // or 2017
  },
  "extends": "eslint:recommended"
}
